.text-bold {
    font-weight: 600;
}

.w3-hover-border-orange {
    color: #ffcb8d;
}

.w3-text-red {
    color: #ff4a57 !important;
}

.no-space-top{
    margin-top: 0px;
    padding-top: 0px;
}
/* ------------------------------ bookmark side ----------------------------- */
#bookmark-side {
    height: 550px;
    width: 90px;
    position: absolute;
    top: 0;
    left: 0;
}

#bookmark-side img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* opacity: 0.75; */
    filter: opacity(75%);
    animation-duration: 0.5s !important;
}

/* ------------------------------ about section ----------------------------- */
#about {
    /* account for bookmark*/
    margin-left: 106px;
}

#about-text {
    padding-right: 46px;
}

#about-aside img {
    height: 500px;
    width: 100%;
}

#about-aside nav ul {
    background-color: hotpink;
    display: flex;
}

.img-wrapper {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.img-about {
    height: 500px;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.img-overlay-right {
    position: absolute;
    top: 0;
    right: 0;
    object-fit: contain;
    object-position: 100% 0%;
}

/* -------------------------------- portfolio ------------------------------- */

.portfolio-item {
    padding: 0px 16px;
    margin: 16px 0;
    height: 490px;
}

.card {
    height: 100%;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img {
    object-fit: cover;
    height: 65%;
    width: 100%;
}

.card-text-wrapper {
    height: 35%;
}

.card-title {
    padding-top: 10px;
}

.card-text-wrapper p {
    padding: 10px;
}

.translate-vertical:nth-child(3n - 2) {
    transform: translateY(160px);
}

.translate-vertical:nth-child(3n - 1) {
    transform: translateY(80px);
}


/* todo: mediaquery for item width on medium screens */


/* --------------------------------- contact -------------------------------- */
#portfolio::after {
    margin-top: 160px;
    content: '';
    display: block;
}


/* ------------------------------ projects page ----------------------------- */

.link-plain-text {
    text-decoration: none;
}

/* --------------------------- single project page -------------------------- */

.single-project img {
    /* float: right; */
    max-height: 550px;
    max-width: 100%;
    margin: 16px;
    float: left;
    /* clear: right; */
}

.single-project h1,
h2,
h3,
h4,
h5,
h6,
p {
    clear: left;
    padding-top: 16px;
}

.player-wrapper {
    width: 50%;
    margin: auto
}