/* ------------------------------ bookmark side ----------------------------- */
#bookmark-side {
    height: 550px;
    width: 90px;
    position: absolute;
    top: 0;
    left: 0;
}

#bookmark-side img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* ------------------------------ about section ----------------------------- */
#about {
    /* account for bookmark*/
    margin-left: 106px;
}

#about-text {
    padding-right: 46px;
}

#about-aside img {
    height: 500px;
    width: 100%;
}

#about-aside nav ul {
    background-color: hotpink;
    display: flex;
}

.img-wrapper {
    position: relative;
}

.img-about {
    height: 500px;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.img-overlay-right {
    position: absolute;
    top: 0;
    right: 0;
    object-fit: contain;
    object-position: 100% 0%;
}

/* -------------------------------- portfolio ------------------------------- */

.portfolio-item {
    padding: 0px 16px;
    margin: 16px 0;
    height: 490px;
}

.card {
    height: 100%;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img {
    object-fit: cover;
    height: 65%;
    width: 100%;
}

.card-text-wrapper {
    /* min-height: 250px; */
    height: 35%;
}

.card-title{
    padding-top: 10px;
}

.card-text-wrapper p {
    padding: 10px;
}

/* .portfolio-item img {
    width: 100%;
    background-color: brown;
} */

.portfolio-item:nth-child(3n - 2) {
    transform: translateY(160px);
}

.portfolio-item:nth-child(3n - 1) {
    transform: translateY(80px);
}


/* todo: mediaquery for item width on medium screens */


/* --------------------------------- contact -------------------------------- */
#portfolio::after {
    margin-top: 160px;
    content: '';
    display: block;
}


/* ------------------------------ projects page ----------------------------- */

.link-plain-text {
    text-decoration: none;
}