#mobile-nav div{
    background-color: darkred;
    color: white;
    height: 80px;
}

#header-mobile:after{
    display: block;
    content: '';    
    margin-top: 80px;
}

#nav-menu-toggle {
    position: fixed;
    top: 0;
    right: 0;
    margin: 16px;
    z-index: 1;
}

#navSidebar {
    z-index: 2;
    width: 100%;
}

/* ---------------------------------- about --------------------------------- */
#mobile-img-about img{
    height: 100px;
}

#about {
    margin-left: 0px;
}

#bookmark-side {
    display: none;
}

.portfolio-item:nth-child(n) {
    transform: translateY(0px);
}

#portfolio::after {
    margin-top: 0px;
}

.portfolio-item:nth-child(n) {
    transform: translateY(0px);
}

.nav-up{
    display: none;
}

.nav-down{
    display: block;
}

