#nav-menu-toggle {
    position: fixed;
    top: 0;
    right: 0;
    margin: 16px;
    z-index: 1;
}

#navSidebar {
    z-index: 2;
    width: 100%;
}


#about {
    margin-left: 0px;
}

#bookmark-side {
    display: none;
}

.portfolio-item:nth-child(n) {
    transform: translateY(0px);
}

#portfolio::after {
    margin-top: 0px;
}

.portfolio-item:nth-child(n) {
    transform: translateY(0px);
}