/* #about {
}

#about-text {
}

#about-aside {
} */

/* ------------------------------ bookmark side ----------------------------- */
#bookmark-side {
    height: 550px;
    width: 90px;
    position: absolute;
    top: 0;
    left: 0;
}

#bookmark-side img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#about-aside img {
    height: 500px;
    width: 100%;
    /* mask-image: url("images/decorative/paint-vert.png");
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-type: alpha; */
}

#about-aside nav ul {
    background-color: hotpink;
    display: flex;
}

.img-wrapper {
    position: relative;
}

.img-about {
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.img-overlay-right {
    margin-left: 0 auto;
    object-fit: contain;
    object-position: 100% 0%;
}

/* -------------------------------- portfolio ------------------------------- */

.portfolio-item {
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px; */
    padding: 16px;
}

.portfolio-item img {
    /* width: 300px;
    height: 375px; */
    width: 100%;
    min-height: 375px;
    background-color: brown;
}

.portfolio-item:nth-child(3n - 2) {
    transform: translateY(160px);
}

.portfolio-item:nth-child(3n - 1) {
    transform: translateY(80px);
}


/* todo: mediaquery for item width on medium screens */

@media (max-width: 993px) {
    .portfolio-item:nth-child(2n - 1) {
        transform: translateY(80px);
    }

    .portfolio-item:nth-child(2n) {
        transform: translateY(0px);
    }
}

@media (max-width: 600px) {
    .portfolio-item:nth-child(n) {
        transform: translateY(0px);
    }
}

/* --------------------------------- contact -------------------------------- */
#portfolio::after {
    margin-top: 160px;
    content: '';
    display: block;
}

/* medium */
@media (max-width: 993px) {
    #portfolio::after {
        margin-top: 80px;
    }
}

/* small */
@media (max-width: 600px) {
    #portfolio::after {
        margin-top: 0px;
    }

    .portfolio-item:nth-child(n) {
        transform: translateY(0px);
    }
}