
#about{
    margin-left: 0px;
    padding: 0px 16px;
}

#bookmark-side{
    display: none;
}


.translate-vertical:nth-child(3n - 2) {
    transform: translateY();
}

.translate-vertical:nth-child(3n - 1) {
    transform: translateY();
}


.translate-vertical:nth-child(2n - 1) {
    transform: translateY(80px);
}

.translate-vertical:nth-child(2n) {
    transform: translateY(0px);
}

#portfolio::after {
    margin-top: 80px;
}