{{ define "main" }}
<section class="single-project w3-content w3-section w3-padding">
    <h1>{{.Title}}</h1>
    <div class="project-details">
        {{with .Params.github}}
            <h3>github</h3>
            {{with index . 0}}
            <a target="_blank" href="{{.}}">frontend</a>
            {{end}}
            {{with index . 1}}
            <a target="_blank" href="{{.}}">backend</a>
            {{end}}
        {{end}}
        {{with .Params.websiteUrl}}
        <h3>website</h3>
        <a target="_blank" href="{{.}}">{{.}}</a>
        {{end}}
    </div>
    <hr/>
    <div class="w3-container">
        {{.Content}}
    </div>
</section>
{{ end }}