<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kamnik Boštjan</title>

    <meta name="title" content="Kamnik Boštjan">
    <meta name="description" content="Frontend web developer from Slovenj Gradec, Slovenia. Developing websites for small businesses and individuals using the latest technologies.">
    <meta name="keywords" content="web, web developer, frontend web developer, websites, website developer, sg, slovenj gradec, slovenia, small business, cheap website">
    <meta name="author" content="bkamnik">
    <meta name="language" content="English">
    <meta name="robots" content="index, follow">

    <meta name="og:title" content="Kamnik Boštjan" />
    <meta name="og:type" content="website" />
    <meta name="og:url" content="https://www.bostjankamnik.com" />
    <meta name="og:image" content="https://www.bostjankamnik.com/thumbnail.webp" />
    <meta name="og:description" content="Frontend web developer from Slovenj Gradec, Slovenia. Developing websites for small businesses and individuals using the latest technologies." />
    <meta name="og:email" content="mkamnikbostjan@gmail.com" />
    <meta name="og:phone_number" content="+38640976333" />
    <meta name="og:postal-code" content="2360" />
    <meta name="og:country-name" content="Slovenia" />

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/desktop.css">
    <link rel="stylesheet" href="/tablet.css"  media="only screen and (max-width:993px)">
    <link rel="stylesheet" href="/mobile.css" media="only screen and (max-width:600px)">

    <script src="/jquery.js"></script>
    <script src="/index.js"></script>
</head>