<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kamnik Boštjan</title>

    <meta name="title" content="Emozione Eco Camp">
    <meta name="description" content="Eco Camp in Albanian nature. Explore untouched albanian beaches and nature. Located in Rrjolle, Albania near the town of Shkoder.">
    <meta name="keywords" content="camp, camping, eco, wild, untouched, nature, animals, see, beach, albania, rjolle, campervan, van">
    <meta name="author" content="bkamnik">
    <meta name="language" content="English">
    <meta name="robots" content="index, follow">

    <meta name="og:title" content="Emozione Eco Camp" />
    <meta name="og:type" content="website" />
    <meta name="og:url" content="https://www.emozionecampalbania.com" />
    <meta name="og:image" content="https://www.emozionecampalbania.com/assets/images/campsite.webp" />
    <meta name="og:description" content="Eco Camp in Albanian nature. Explore untouched albanian beaches and nature. Located in Rrjolle, Albania near the town of Shkoder." />
    <meta name="og:email" content="emozionecamp.albania@gmail.com" />
    <meta name="og:phone_number" content="+355695349755" />
    <meta name="og:latitude" content="41.861386" />
    <meta name="og:longitude" content="19.467953" />
    <meta name="og:street-address" content="rruga RRJOLLE Rrjolle, 4020, Albania" />
    <meta name="og:locality" content="VF69+H5 Baks-Rrjollë, Albania" />
    <!-- <meta name="og:region" content="CA"/> -->
    <meta name="og:postal-code" content="4020" />
    <meta name="og:country-name" content="Albania" />

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/desktop.css">
    <link rel="stylesheet" href="/tablet.css" media="screen and (min-width: 601px and max-width:993px)">
    <link rel="stylesheet" href="/mobile.css" media="screen and (max-width:600px)">

    <script src="/jquery.js"></script>
    <script src="/index.js"></script>
</head>