<!-- {{ printf "%#v" .Title }} -->
<div id="navSidebar" class="w3-sidebar w3-bar-block w3-black w3-center w3-padding w3-topbar w3-hide w3-animate-left">
    <button onclick="toggleSidebarNav()" class="w3-button w3-xlarge w3-right">&times;</button>
    <div class="w3-padding-top-64 w3-margin-top">
        <a href="/projects" class="w3-bar-item w3-button w3-xlarge">projects</a>
    </div>
    <div class="w3-margin-top">
        <a href="/#contact" class="w3-bar-item w3-button w3-xlarge">contact</a>
    </div>
</div>
<header id="header-mobile" class="w3-hide-medium w3-hide-large">
    <nav id="mobile-nav" class="w3-top">
        <div class="w3-topbar w3-border-black w3-display-container w3-container">
            <h1>kamnik boštjan</h1>
            <button class="w3-button w3-display-right w3-margin-right" onclick="toggleSidebarNav()"><i class="fa-solid fa-bars w3-xxlarge"></i></button>
        </div>
    </nav>
</header>
<header id="header-primary" class="w3-hide-small">
    <nav class="w3-content w3-center">
        <ul class="w3-bar ">
            <li class="w3-bar-item">
                <a class="w3-text-grey w3-button w3-hover-none w3-border-white w3-bottombar w3-hover-border-black" href="#">Boštjan Kamnik
                </a>
            </li>
            <li class="w3-bar-item ">
                <a class="w3-text-red w3-button w3-hover-none w3-border-white w3-bottombar w3-hover-border-black " href="/projects">projects</a>
            </li>
            <li class="w3-bar-item ">
                <a class="w3-text-red w3-button w3-hover-none w3-border-white w3-bottombar w3-hover-border-black" href="/#contact">contact</a>
            </li>
        </ul>
    </nav>
</header>