{{define "main"}}
<div id="bookmark-side">
    <img src="/images/about/color-blocks.webp" alt="colorful blocks" class="web-dev-toggle-bookmark w3-animate-left">
    <!-- <img src="" alt="" class="electronics-toggle-bookmark w3-animate-left w3-animate-opacity w3-brown w3-hide"> -->
</div>


<section id="about">
    <div class="w3-padding-top-48 w3-hide-small"></div>
    <div id="mobile-img-about" class="w3-hide-medium w3-hide-large">
        <img class="w3-mobile w3-amber" src="/images/about/color-blocks.webp" alt="colorful blocks">
    </div>
    <div class="w3-padding-top-24 w3-hide-medium w3-hide-large"> </div>
    <div class="w3-container w3-content w3-section">
        <div class="w3-row">
            <div id="about-text" class="w3-col m6">
                <div class="web-dev-toggle-bookmark w3-animate-opacity w3-large">
                    <h2 class="no-space-top">Web Developer</h2>
                    <br/>
                    <strong>Hi !</strong>
                    <p>
                        Having worked with computers for the larger part of my life, starting with video games I eventually went on to study computer science, where I learned programming.
                    </p>
                    <p>
                        Equipped with a positive attitude and a 'can do' mentality, I like to use my skills to be creative and build useful things. I like to help others fulfill their ambitions and reach their goals.
                    </p>
                    <p>
                        below are some of the projects I've worked on
                    </p>
                </div>
                <!-- <div class="electronics-toggle-bookmark w3-animate-opacity w3-hide">
                    <h2>Electronics</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus esse nesciunt consectetur vero eligendi! Fugit, quisquam exercitationem non delectus natus rem! Hic quam quaerat non, obcaecati placeat necessitatibus est
                        voluptatum voluptates quasi doloremque dignissimos maiores ipsa in labore, sint eius totam recusandae temporibus explicabo dolorem qui nostrum reiciendis dolore?</p>
                </div> -->
            </div>
            <div id="about-aside" class="w3-col m6 w3-hide-small">
                <div class="img-wrapper">
                    <img src="/images/about/laptop.webp" alt="laptop displaying phrase" class="img-about web-dev-toggle-bookmark w3-animate-opacity">
                    <!-- <img src="" alt="" class="img-about w3-light-blue w3-hide electronics-toggle-bookmark w3-animate-opacity"> -->
                    <img class="img-overlay-right" src="/images/decorative/paint-vert.webp" alt="decorative overlay">
                </div>

                <!-- about section navigation in case of more items than 1 -->
                <!-- <nav class="w3-content w3-center">
                    <ul class="w3-bar">
                        <li class="w3-bar-item">
                            <button class="w3-button" onclick="onSidebarNavClick(this)" data-toggle="web-dev" data-toggle-id="bookmark">Web Developer</button>
                        </li>
                        <li class="w3-bar-item ">
                            <button class="w3-button" onclick="onSidebarNavClick(this)" data-toggle="electronics" data-toggle-id="bookmark">Electronics</button>
                        </li>
                        <li class="w3-bar-item ">
                        </li>
                        <li class="w3-bar-item ">
                        </li>
                    </ul>
                </nav> -->
            </div>
        </div>
    </div>
</section>

<div class="w3-padding-top-48 w3-hide-small"></div>
<section id="portfolio">
    <div class="w3-container w3-content w3-section">
        <h2 class="w3-hide-medium w3-hide-large">Projects</h2>
        <div class="w3-cell-row">
            {{ range first .Site.Params.featuredProjectsCount (where .Site.RegularPages.ByDate.Reverse "Type" "projects") }}
            <div class="portfolio-item translate-vertical w3-col m6 l4">
                <a href="{{.Permalink | relURL}}" class="link-plain-text">
                    <div class="card w3-center">
                        <img class="card-img" src="{{.Params.Image | absURL}}" alt="">
                        <div class="card-text-wrapper">
                            <h3 class="card-title">{{.Title}}</h3>
                            <hr/>
                            <p class="w3-opacity"> {{.Params.Description}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {{end}}
        </div>
    </div>
</section>

{{if gt (len .Site.RegularPages) .Site.Params.featuredProjectsCount}}
<div class="w3-content w3-right-align">
    <h3>view more projects <a href="/projects">here</a> </h3>
</div>
{{end}}

<section id="contact" class="w3-content w3-padding-top-48">
    <div class="contact-container">
        <div class="bg-color"></div>
        <img src="images/contact/carton-bg3.webp" class="bg-img" alt="background overlay"></img>
        <div class="contact-img-wrapper">
            <img src="/images/contact/bkamnik-profile.webp" alt="Boštjan kamnik profile" />
        </div>
        <div class="contact-details">
            <!-- <img src="/images/about/red-n-orange.jpg" alt="" class="contact-bg"> -->
            <div class="contact-text-wrapper">
                <h2>let's work together !</h2>
                <p class="contact-details-item">
                    <i class="fa-solid fa-phone w3-xlarge"></i>
                    <span>+386 40 976 333</span>
                </p>
                <p class="contact-details-item">
                    <i class="fa-solid fa-envelope w3-xlarge"></i>
                    <span>mkamnikbostjan@gmail.com</span>
                </p>
                <hr class="w3-opacity-max w3-border-black" />
                <div class="contact-details-social">
                    <a href="https://www.linkedin.com/in/bostjan-kamnik/" class="w3-btn"> <i class="fa-brands fa-linkedin w3-xxlarge"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="w3-padding-top-48 w3-hide-small"></div>

{{end}}